code/**
libjapron.*
libjgmp.*

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# vs code
.vscode/*
*.code-workspace

# metals 
.metals/
.bloop/
project/project
project/target

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

#general
*.class

/benchmark/python/*/
/.bsp/

#wasmbench ressources
/sturdy-wasm/src/test/resources/sturdy/language/wasm/wasmbench/filtered/
/sturdy-wasm/src/test/resources/sturdy/language/wasm/wasmbench/binaries.filtered.7z
/sturdy-wasm/src/test/resources/sturdy/language/wasm/wasmbench/wasmbench.db
/sturdy-wasm/src/test/scala/sturdy/language/wasm/wasmbench/readme_thesis_notes.md

#svbench dependency files
/sturdy-wasm/src/test/resources/sturdy/language/wasm/sv-bench/sv-bench-c/bin/**/*.dc
/sturdy-wasm/src/test/resources/sturdy/language/wasm/sv-bench/sv-bench-c/bin/**/*.di